@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 255 255 255;
  --foreground: 0 0 0;
}

body {
  background-color: rgb(var(--background));
  color: rgb(var(--foreground));
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}
